<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:usesCleartextTraffic="true"
    package="com.archi.architecture">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- 电池权限 4.4 以上没用 -->
    <uses-permission
        android:name="android.permission.BATTERY_STATS"
        tools:ignore="ProtectedPermissions" />
    <!-- wifi权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".BaseApplication">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.MainActivityTheme1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.LotteryActivity"
            android:screenOrientation="landscape"/>

        <activity android:name=".pager.PagerActivity"/>

        <activity android:name=".PreLoadDexActivity"
            android:process=":preloaddex"
            android:alwaysRetainTaskState= "false"
            android:theme="@style/AppTheme.MainActivityTheme1"
            android:launchMode= "singleTask"
            android:excludeFromRecents= "true"
            android:screenOrientation= "portrait"
            />

        <service android:name=".server.BookService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.archi.architecture.book"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>